In [1]:
!cat examples/ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [2]:
import pandas as pd

In [187]:
df = pd.read_csv('examples/ex1.csv')

In [188]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [5]:
pd.read_table('examples/ex1.csv', sep=',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [6]:
!cat examples/ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [8]:
pd.read_csv('examples/ex2.csv', header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [9]:
pd.read_csv('examples/ex2.csv', names=['a', 'b', 'c', 'd', 'message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [10]:
names = ['a', 'b', 'c', 'd', 'message']

In [11]:
pd.read_csv('examples/ex2.csv', names=names, index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [12]:
!cat examples/csv_mindex.csv

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

In [14]:
pd.read_csv('examples/csv_mindex.csv')

  key1 key2  value1  value2
0  one    a       1       2
1  one    b       3       4
2  one    c       5       6
3  one    d       7       8
4  two    a       9      10
5  two    b      11      12
6  two    c      13      14
7  two    d      15      16

In [15]:
parsed = pd.read_csv('examples/csv_mindex.csv', 
                     index_col=['key1', 'key2'])

In [16]:
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [17]:
list(open('examples/ex3.txt'))

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

In [18]:
result = pd.read_table('examples/ex3.txt', sep='\s+')

In [19]:
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [20]:
!cat examples/ex4.csv

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [21]:
pd.read_csv('examples/ex4.csv', skiprows=[0, 2, 3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [22]:
!cat examples/ex5.csv

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [23]:
result = pd.read_csv('examples/ex5.csv')

In [24]:
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [25]:
pd.isnull(result)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [26]:
result = pd.read_csv('examples/ex5.csv', na_values=['NULL'])

In [27]:
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [28]:
sentinels = {'message': ['foo', 'NA'], 'something': ['two']}

In [29]:
sentinels

{'message': ['foo', 'NA'], 'something': ['two']}

In [30]:
pd.read_csv('examples/ex5.csv', na_values=sentinels)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

In [31]:
pd.options.display.max_rows = 10

In [32]:
result = pd.read_csv('examples/ex6.csv')

In [33]:
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [34]:
pd.read_csv('examples/ex6.csv', nrows=5)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [35]:
chunker = pd.read_csv('examples/ex6.csv', chunksize=1000)

In [36]:
chunker

In [37]:
chunker = pd.read_csv('examples/ex6.csv', chunksize=1000)

In [38]:
tot = pd.Series([]) 
for piece in chunker:
    tot = tot.add(piece['key'].value_counts(), fill_value=0)
tot = tot.sort_values(ascending=False)

In [40]:
tot[:10]

E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
dtype: float64

In [41]:
data = pd.read_csv('examples/ex5.csv')

In [42]:
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [43]:
data.to_csv('examples/out.csv')

In [44]:
!cat examples/out.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

In [45]:
import sys

In [46]:
data.to_csv(sys.stdout, sep='|')

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [47]:
data.to_csv(sys.stdout, index=False, header=False)

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [48]:
data.to_csv(sys.stdout, index=False, columns=['a', 'b', 'c'])

a,b,c
1,2,3.0
5,6,
9,10,11.0

In [49]:
dates = pd.date_range('1/1/2000', periods=7)

In [51]:
import numpy as np
ts = pd.Series(np.arange(7), index=dates)

In [52]:
ts.to_csv('examples/tseries.csv')

/Users/alaminsarker/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

In [53]:
!cat examples/tseries.csv

2000-01-01,0
2000-01-02,1
2000-01-03,2
2000-01-04,3
2000-01-05,4
2000-01-06,5
2000-01-07,6

In [54]:
!cat examples/ex7.csv

"a","b","c"
"1","2","3"
"1","2","3"

In [55]:
import csv

In [57]:
f = open('examples/ex7.csv')

In [58]:
reader = csv.reader(f)

In [59]:
reader

In [60]:
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [61]:
with open('examples/ex7.csv') as f:
    lines = list(csv.reader(f))

In [62]:
header, values = lines[0], lines[1:]

In [63]:
header

['a', 'b', 'c']

In [64]:
values

[['1', '2', '3'], ['1', '2', '3']]

In [65]:
data_dict = {h: v for h, v in zip(header, zip(*values))}

In [66]:
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [68]:
class my_dialect(csv.Dialect): 
    lineterminator = '\n' 
    delimiter = ';'
    quotechar = '"'
    quoting = csv.QUOTE_MINIMAL
reader = csv.reader(f, dialect=my_dialect)

TypeError: argument 1 must be an iterator

In [69]:
with open('mydata.csv', 'w') as f:
    writer = csv.writer(f, dialect=my_dialect) 
    writer.writerow(('one', 'two', 'three')) 
    writer.writerow(('1', '2', '3')) 
    writer.writerow(('4', '5', '6')) 
    writer.writerow(('7', '8', '9'))

In [70]:
obj = """
    {"name": "Wes",
"places_lived": ["United States", "Spain", "Germany"],
"pet": null,
"siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
                  {"name": "Katie", "age": 38,
                   "pets": ["Sixes", "Stache", "Cisco"]}]
} """

In [71]:
obj

'\n    {"name": "Wes",\n"places_lived": ["United States", "Spain", "Germany"],\n"pet": null,\n"siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},\n                  {"name": "Katie", "age": 38,\n                   "pets": ["Sixes", "Stache", "Cisco"]}]\n} '

In [72]:
import json

In [73]:
result = json.loads(obj)

In [74]:
result

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [75]:
asjson = json.dumps(result)

In [76]:
asjson

'{"name": "Wes", "places_lived": ["United States", "Spain", "Germany"], "pet": null, "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]}, {"name": "Katie", "age": 38, "pets": ["Sixes", "Stache", "Cisco"]}]}'

In [83]:
siblings = pd.DataFrame(result['siblings'], columns=['name', 'age', 'pets'])

In [84]:
siblings

    name  age                    pets
0  Scott   30            [Zeus, Zuko]
1  Katie   38  [Sixes, Stache, Cisco]

In [85]:
!cat examples/example.json

[{"a": 1, "b": 2, "c": 3},
 {"a": 4, "b": 5, "c": 6},
 {"a": 7, "b": 8, "c": 9}]

In [86]:
data = pd.read_json('examples/example.json')

In [87]:
data

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [88]:
print(data.to_json())

{"a":{"0":1,"1":4,"2":7},"b":{"0":2,"1":5,"2":8},"c":{"0":3,"1":6,"2":9}}

In [89]:
print(data.to_json(orient='records'))

[{"a":1,"b":2,"c":3},{"a":4,"b":5,"c":6},{"a":7,"b":8,"c":9}]

In [90]:
tables = pd.read_html('examples/fdic_failed_bank_list.html')

In [91]:
len(tables)

1

In [92]:
tables

[                             Bank Name             City  ST   CERT  \
 0                          Allied Bank         Mulberry  AR     91
 1         The Woodbury Banking Company         Woodbury  GA  11297
 2               First CornerStone Bank  King of Prussia  PA  35312
 3                   Trust Company Bank          Memphis  TN   9956
 4           North Milwaukee State Bank        Milwaukee  WI  20364
 ..                                 ...              ...  ..    ...
 542                 Superior Bank, FSB         Hinsdale  IL  32646
 543                Malta National Bank            Malta  OH   6629
 544    First Alliance Bank & Trust Co.       Manchester  NH  34264
 545  National State Bank of Metropolis       Metropolis  IL   3815
 546                   Bank of Honolulu         Honolulu  HI  21029

                    Acquiring Institution        Closing Date  \
 0                           Today's Bank  September 23, 2016
 1                            United Bank     August 19, 2016
 2    First-Citizens Bank & Trust Company         May 6, 2016
 3             The Bank of Fayette County      April 29, 2016
 4    First-Citizens Bank & Trust Company      March 11, 2016
 ..                                   ...                 ...
 542                Superior Federal, FSB       July 27, 2001
 543                    North Valley Bank         May 3, 2001
 544  Southern New Hampshire Bank & Trust    February 2, 2001
 545              Banterra Bank of Marion   December 14, 2000
 546                   Bank of the Orient    October 13, 2000

           Updated Date
 0    November 17, 2016
 1    November 17, 2016
 2    September 6, 2016
 3    September 6, 2016
 4        June 16, 2016
 ..                 ...
 542    August 19, 2014
 543  November 18, 2002
 544  February 18, 2003
 545     March 17, 2005
 546     March 17, 2005

 [547 rows x 7 columns]]

In [93]:
failures = tables[0]

In [94]:
failures

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"
2,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016"
3,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016"
4,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","June 16, 2016"
...,...,...,...,...,...,...,...
542,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB","July 27, 2001","August 19, 2014"
543,Malta National Bank,Malta,OH,6629,North Valley Bank,"May 3, 2001","November 18, 2002"
544,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,"February 2, 2001","February 18, 2003"
545,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,"December 14, 2000","March 17, 2005"
546,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,"October 13, 2000","March 17, 2005"

In [95]:
failures.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"
2,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016"
3,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016"
4,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","June 16, 2016"

In [96]:
close_timestamps = pd.to_datetime(failures['Closing Date'])

In [97]:
close_timestamps

0     2016-09-23
1     2016-08-19
2     2016-05-06
3     2016-04-29
4     2016-03-11
         ...
542   2001-07-27
543   2001-05-03
544   2001-02-02
545   2000-12-14
546   2000-10-13
Name: Closing Date, Length: 547, dtype: datetime64[ns]

In [98]:
close_timestamps.dt.year.value_counts()

2010    157
2009    140
2011     92
2012     51
2008     25
       ...
2004      4
2001      4
2007      3
2003      3
2000      2
Name: Closing Date, Length: 15, dtype: int64

In [99]:
from lxml import objectify

In [101]:
path = 'examples/Performance_MNR.xml' 
parsed = objectify.parse(open(path))
root = parsed.getroot()

In [102]:
data = []

In [103]:
skip_fields = ['PARENT_SEQ', 'INDICATOR_SEQ',
'DESIRED_CHANGE', 'DECIMAL_PLACES']

In [105]:
for elt in root.INDICATOR: 
    el_data = {}
    for child in elt.getchildren(): 
        if child.tag in skip_fields:
            continue
        el_data[child.tag] = child.pyval 
    data.append(el_data)

In [106]:
perf = pd.DataFrame(data)

In [108]:
perf.head()

,AGENCY_NAME,INDICATOR_NAME,DESCRIPTION,PERIOD_YEAR,PERIOD_MONTH,CATEGORY,FREQUENCY,INDICATOR_UNIT,YTD_TARGET,YTD_ACTUAL,MONTHLY_TARGET,MONTHLY_ACTUAL
0,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,1,Service Indicators,M,%,95,96.9,95,96.9
1,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,2,Service Indicators,M,%,95,96,95,95
2,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,3,Service Indicators,M,%,95,96.3,95,96.9
3,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,4,Service Indicators,M,%,95,96.8,95,98.3
4,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,5,Service Indicators,M,%,95,96.6,95,95.8

In [109]:
from io import StringIO
tag = '<a href="http://www.google.com">Google</a>' 
root = objectify.parse(StringIO(tag)).getroot()

In [110]:
root

In [111]:
root.get('href')

'http://www.google.com'

In [112]:
root.text

'Google'

In [113]:
frame = pd.read_csv('examples/ex1.csv')

In [114]:
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [115]:
frame.to_pickle('examples/frame_pickle')

In [116]:
pd.read_pickle('examples/frame_pickle')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [117]:
frame = pd.DataFrame({'a': np.random.randn(100)})

In [118]:
frame

           a
0   0.875622
1  -0.153950
2   0.870713
3   2.381119
4   0.234270
..       ...
95  0.652967
96 -1.303794
97 -0.285683
98 -2.359895
99  0.285813

[100 rows x 1 columns]

In [119]:
store = pd.HDFStore('mydata.h5')

In [120]:
 store['obj1'] = frame

In [121]:
store['obj1_col'] = frame['a']

In [122]:
store

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5

In [123]:
store['obj1']

           a
0   0.875622
1  -0.153950
2   0.870713
3   2.381119
4   0.234270
..       ...
95  0.652967
96 -1.303794
97 -0.285683
98 -2.359895
99  0.285813

[100 rows x 1 columns]

In [124]:
store.put('obj2', frame, format='table')

In [125]:
store.select('obj2', where=['index >= 10 and index <= 15'])

           a
10  1.842442
11  0.016477
12  1.231987
13 -0.262450
14 -0.254666
15 -0.563660

In [126]:
store.close()

In [127]:
frame.to_hdf('mydata.h5', 'obj3', format='table')

In [128]:
pd.read_hdf('mydata.h5', 'obj3', where=['index < 5'])

          a
0  0.875622
1 -0.153950
2  0.870713
3  2.381119
4  0.234270

In [129]:
xlsx = pd.ExcelFile('examples/ex1.xlsx')

In [130]:
pd.read_excel(xlsx, 'Sheet1')

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [131]:
frame = pd.read_excel('examples/ex1.xlsx', 'Sheet1')

In [132]:
frame

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [133]:
writer = pd.ExcelWriter('examples/ex2.xlsx')

In [134]:
frame.to_excel(writer, 'Sheet1')

In [135]:
writer.save()

In [136]:
frame.to_excel('examples/ex2.xlsx')

In [137]:
import requests

In [138]:
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'

In [139]:
resp = requests.get(url)

In [140]:
resp

In [141]:
data = resp.json()

In [142]:
data

[{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/36850',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/36850/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/36850/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/36850/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/36850',
  'id': 714234614,
  'node_id': 'MDU6SXNzdWU3MTQyMzQ2MTQ=',
  'number': 36850,
  'title': 'DOC: `.loc` behavior undocumented for Index argument',
  'user': {'login': 'hickmanw',
   'id': 39277069,
   'node_id': 'MDQ6VXNlcjM5Mjc3MDY5',
   'avatar_url': 'https://avatars0.githubusercontent.com/u/39277069?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/hickmanw',
   'html_url': 'https://github.com/hickmanw',
   'followers_url': 'https://api.github.com/users/hickmanw/followers',
   'following_url': 'https://api.github.com/users/hickmanw/following{/other_user}',
   'gists_url': 'https://api.github.com/users/hickmanw/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/hickmanw/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/hickmanw/subscriptions',
   'organizations_url': 'https://api.github.com/users/hickmanw/orgs',
   'repos_url': 'https://api.github.com/users/hickmanw/repos',
   'events_url': 'https://api.github.com/users/hickmanw/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/hickmanw/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 134699,
    'node_id': 'MDU6TGFiZWwxMzQ2OTk=',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Docs',
    'name': 'Docs',
    'color': '3465A4',
    'default': False,
    'description': None},
   {'id': 1954720290,
    'node_id': 'MDU6TGFiZWwxOTU0NzIwMjkw',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Needs%20Triage',
    'name': 'Needs Triage',
    'color': '0052cc',
    'default': False,
    'description': 'Issue that has not been reviewed by a pandas team member'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2020-10-04T05:00:52Z',
  'updated_at': '2020-10-04T05:00:52Z',
  'closed_at': None,
  'author_association': 'NONE',
  'active_lock_reason': None,
  'body': '#### Location of the documentation\r\n\r\n[pandas.Series.loc](https://pandas.pydata.org/docs/dev/reference/api/pandas.Series.loc.html)\r\n\r\n[pandas.DataFrame.loc](https://pandas.pydata.org/docs/dev/reference/api/pandas.DataFrame.loc.html)\r\n\r\n#### Documentation problem\r\nThe documentation does not mention `pandas.Index` as a valid argument for `.loc`. I expected the result to be the same as passing the values of the index, but the result is instead the same as `reindex` (as long as the result has at least one element, otherwise it raises `KeyError`). I discovered the difference when relying on the index name to remain unchanged after `.loc`. Below is a minimal demonstration of the current behavior for `pandas.Series`. Analogous behavior occurs for both axes of `pandas.DataFrame`.\r\n\r\n```python\r\nIn  [2]: foo = pd.Index(range(2), name=\'foo\')\r\n         bar = pd.Index(range(1), name=\'bar\')\r\n         baz = pd.Index([2], name=\'baz\')\r\n\r\n         s = pd.Series(list(\'ab\'), index=foo)\r\n         s\r\nOut [2]: \r\n         foo\r\n         0    a\r\n         1    b\r\n         dtype: object\r\n\r\nIn  [3]: s.loc[bar]\r\nOut [3]: \r\n         bar\r\n         0    a\r\n         dtype: object\r\n\r\nIn  [4]: s.loc[bar].index is bar\r\nOut [4]: True\r\n\r\nIn  [5]: s.reindex(bar).index is bar\r\nOut [5]: True\r\n\r\nIn  [6]: s.loc[baz]\r\nOut [6]: KeyError: "None of [Int64Index([2], dtype=\'int64\', name=\'baz\')] are in the [index]"\r\n```\r\n\r\nOutput of `pd.show_versions`\r\n<details>\r\n\r\nINSTALLED VERSIONS\r\n\r\n------------------\r\n\r\ncommit           : 2a7d3326dee660824a8433ffd01065f8ac37f7d6\r\npython           : 3.6.7.final.0\r\npython-bits      : 64\r\nOS               : Linux\r\nOS-release       : 4.14.193-149.317.amzn2.x86_64\r\nVersion          : #1 SMP Thu Sep 3 19:04:44 UTC 2020\r\nmachine          : x86_64\r\nprocessor        : x86_64\r\nbyteorder        : little\r\nLC_ALL           : en_US.UTF-8\r\nLANG             : en_US.UTF-8\r\nLOCALE           : en_US.UTF-8\r\n\r\npandas           : 1.1.2\r\nnumpy            : 1.19.1\r\npytz             : 2020.1\r\ndateutil         : 2.8.1\r\npip              : 20.2.3\r\nsetuptools       : 50.3.0\r\nCython           : None\r\npytest           : 5.4.3\r\nhypothesis       : None\r\nsphinx           : 3.2.1\r\nblosc            : None\r\nfeather          : None\r\nxlsxwriter       : None\r\nlxml.etree       : None\r\nhtml5lib         : 1.1\r\npymysql          : None\r\npsycopg2         : None\r\njinja2           : 2.11.2\r\nIPython          : 7.16.1\r\npandas_datareader: None\r\nbs4              : None\r\nbottleneck       : None\r\nfsspec           : None\r\nfastparquet      : None\r\ngcsfs            : None\r\nmatplotlib       : 3.3.1\r\nnumexpr          : None\r\nodfpy            : None\r\nopenpyxl         : 3.0.5\r\npandas_gbq       : None\r\npyarrow          : None\r\npytables         : None\r\npyxlsb           : None\r\ns3fs             : None\r\nscipy            : 1.5.2\r\nsqlalchemy       : 1.2.12\r\ntables           : None\r\ntabulate         : None\r\nxarray           : None\r\nxlrd             : 1.2.0\r\nxlwt             : None\r\nnumba            : 0.51.0\r\n</details>\r\n\r\n#### Suggested fix for documentation\r\n\r\nAdd an entry to explain the current/intended behavior when passing an `Index` to `.loc`, especially mentioning that the index will be replaced. Doing so would complement the clarity recently provided by #35506 for alignable boolean series.',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/36849',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/36849/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/36849/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/36849/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/36849',
  'id': 714232044,
  'node_id': 'MDExOlB1bGxSZXF1ZXN0NDk3Mzc0ODA0',
  'number': 36849,
  'title': 'DOC: black enhancingperf.rst and 10min.rst code style',
  'user': {'login': 'BeanNan',
   'id': 40813941,
   'node_id': 'MDQ6VXNlcjQwODEzOTQx',
   'avatar_url': 'https://avatars2.githubusercontent.com/u/40813941?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/BeanNan',
   'html_url': 'https://github.com/BeanNan',
   'followers_url': 'https://api.github.com/users/BeanNan/followers',
   'following_url': 'https://api.github.com/users/BeanNan/following{/other_user}',
   'gists_url': 'https://api.github.com/users/BeanNan/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/BeanNan/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/BeanNan/subscriptions',
   'organizations_url': 'https://api.github.com/users/BeanNan/orgs',
   'repos_url': 'https://api.github.com/users/BeanNan/repos',
   'events_url': 'https://api.github.com/users/BeanNan/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/BeanNan/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2020-10-04T04:38:34Z',
  'updated_at': '2020-10-04T05:07:04Z',
  'closed_at': None,
  'author_association': 'CONTRIBUTOR',
  'active_lock_reason': None,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/36849',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/36849',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/36849.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/36849.patch'},
  'body': 'ref #36777',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/36848',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/36848/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/36848/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/36848/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/36848',
  'id': 714219716,
  'node_id': 'MDExOlB1bGxSZXF1ZXN0NDk3MzY2OTQy',
  'number': 36848,
  'title': 'REF: IndexOpsMixin wrapping',
  'user': {'login': 'jbrockmendel',
   'id': 8078968,
   'node_id': 'MDQ6VXNlcjgwNzg5Njg=',
   'avatar_url': 'https://avatars1.githubusercontent.com/u/8078968?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/jbrockmendel',
   'html_url': 'https://github.com/jbrockmendel',
   'followers_url': 'https://api.github.com/users/jbrockmendel/followers',
   'following_url': 'https://api.github.com/users/jbrockmendel/following{/other_user}',
   'gists_url': 'https://api.github.com/users/jbrockmendel/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/jbrockmendel/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/jbrockmendel/subscriptions',
   'organizations_url': 'https://api.github.com/users/jbrockmendel/orgs',
   'repos_url': 'https://api.github.com/users/jbrockmendel/repos',
   'events_url': 'https://api.github.com/users/jbrockmendel/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/jbrockmendel/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2020-10-04T02:54:10Z',
  'updated_at': '2020-10-04T02:54:10Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'active_lock_reason': None,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/36848',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/36848',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/36848.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/36848.patch'},
  'body': '- [ ] closes #xxxx\r\n- [ ] tests added / passed\r\n- [ ] passes `black pandas`\r\n- [ ] passes `git diff upstream/master -u -- "*.py" | flake8 --diff`\r\n- [ ] whatsnew entry\r\n',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/36847',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/36847/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/36847/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/36847/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/36847',
  'id': 714219387,
  'node_id': 'MDExOlB1bGxSZXF1ZXN0NDk3MzY2ODA1',
  'number': 36847,
  'title': 'CI: pin sql to the correct version #36465',
  'user': {'login': 'fangchenli',
   'id': 7614606,
   'node_id': 'MDQ6VXNlcjc2MTQ2MDY=',
   'avatar_url': 'https://avatars0.githubusercontent.com/u/7614606?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/fangchenli',
   'html_url': 'https://github.com/fangchenli',
   'followers_url': 'https://api.github.com/users/fangchenli/followers',
   'following_url': 'https://api.github.com/users/fangchenli/following{/other_user}',
   'gists_url': 'https://api.github.com/users/fangchenli/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/fangchenli/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/fangchenli/subscriptions',
   'organizations_url': 'https://api.github.com/users/fangchenli/orgs',
   'repos_url': 'https://api.github.com/users/fangchenli/repos',
   'events_url': 'https://api.github.com/users/fangchenli/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/fangchenli/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 48070600,
    'node_id': 'MDU6TGFiZWw0ODA3MDYwMA==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/CI',
    'name': 'CI',
    'color': 'a2bca7',
    'default': False,
    'description': 'Related to Continuous Integration'},
   {'id': 527603109,
    'node_id': 'MDU6TGFiZWw1Mjc2MDMxMDk=',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Dependencies',
    'name': 'Dependencies',
    'color': 'd93f0b',
    'default': False,
    'description': 'Related to pandas required and optional  dependencies'},
   {'id': 47232590,
    'node_id': 'MDU6TGFiZWw0NzIzMjU5MA==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/IO%20SQL',
    'name': 'IO SQL',
    'color': '5319e7',
    'default': False,
    'description': 'to_sql, read_sql, read_sql_query'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2020-10-04T02:51:52Z',
  'updated_at': '2020-10-04T04:30:24Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'active_lock_reason': None,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/36847',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/36847',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/36847.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/36847.patch'},
  'body': 'Part of #36465\r\n',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/36845',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/36845/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/36845/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/36845/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/36845',
  'id': 714203723,
  'node_id': 'MDExOlB1bGxSZXF1ZXN0NDk3MzU2NTgz',
  'number': 36845,
  'title': 'DOC: normalize usage of word "pandas"',
  'user': {'login': 'LeviMatus',
   'id': 16039329,
   'node_id': 'MDQ6VXNlcjE2MDM5MzI5',
   'avatar_url': 'https://avatars1.githubusercontent.com/u/16039329?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/LeviMatus',
   'html_url': 'https://github.com/LeviMatus',
   'followers_url': 'https://api.github.com/users/LeviMatus/followers',
   'following_url': 'https://api.github.com/users/LeviMatus/following{/other_user}',
   'gists_url': 'https://api.github.com/users/LeviMatus/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/LeviMatus/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/LeviMatus/subscriptions',
   'organizations_url': 'https://api.github.com/users/LeviMatus/orgs',
   'repos_url': 'https://api.github.com/users/LeviMatus/repos',
   'events_url': 'https://api.github.com/users/LeviMatus/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/LeviMatus/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 134699,
    'node_id': 'MDU6TGFiZWwxMzQ2OTk=',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Docs',
    'name': 'Docs',
    'color': '3465A4',
    'default': False,
    'description': None}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 1,
  'created_at': '2020-10-04T00:34:52Z',
  'updated_at': '2020-10-04T04:08:11Z',
  'closed_at': None,
  'author_association': 'NONE',
  'active_lock_reason': None,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/36845',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/36845',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/36845.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/36845.patch'},
  'body': 'changes references to the library, pandas, to match the standard lowercase spelling. This changes applicable `.rst` files under the `doc/source` path.\r\n\r\nReferences such as Pandas, **pandas**, *pandas*, and ``pandas`` have been replaced with pandas.\r\n\r\n- [x] closes #32316 \r\n- [x] tests added / passed\r\n- [x] passes `black pandas`\r\n- [x] passes `git diff upstream/master -u -- "*.py" | flake8 --diff`\r\n- [ ] whatsnew entry\r\n',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/36843',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/36843/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/36843/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/36843/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/36843',
  'id': 714197272,
  'node_id': 'MDExOlB1bGxSZXF1ZXN0NDk3MzUyMzc4',
  'number': 36843,
  'title': 'REF: separate flex from non-flex DataFrame ops',
  'user': {'login': 'jbrockmendel',
   'id': 8078968,
   'node_id': 'MDQ6VXNlcjgwNzg5Njg=',
   'avatar_url': 'https://avatars1.githubusercontent.com/u/8078968?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/jbrockmendel',
   'html_url': 'https://github.com/jbrockmendel',
   'followers_url': 'https://api.github.com/users/jbrockmendel/followers',
   'following_url': 'https://api.github.com/users/jbrockmendel/following{/other_user}',
   'gists_url': 'https://api.github.com/users/jbrockmendel/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/jbrockmendel/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/jbrockmendel/subscriptions',
   'organizations_url': 'https://api.github.com/users/jbrockmendel/orgs',
   'repos_url': 'https://api.github.com/users/jbrockmendel/repos',
   'events_url': 'https://api.github.com/users/jbrockmendel/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/jbrockmendel/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2020-10-03T23:42:40Z',
  'updated_at': '2020-10-03T23:42:40Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'active_lock_reason': None,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/36843',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/36843',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/36843.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/36843.patch'},
  'body': '- [x] closes #36796\r\n- [x] tests added / passed\r\n- [x] passes `black pandas`\r\n- [x] passes `git diff upstream/master -u -- "*.py" | flake8 --diff`\r\n- [ ] whatsnew entry\r\n\r\nUnless supporting this is intentional, in which case we should deprecate and explicitly implement flex-bool operations.\r\n\r\nIf/when this is done, we can stop passing `special` and even `cls`.',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/36842',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/36842/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/36842/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/36842/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/36842',

In [143]:
data[0]['title']

'DOC: `.loc` behavior undocumented for Index argument'

In [144]:
issues = pd.DataFrame(data, columns=['number', 'title', 'labels', 'state'])

In [146]:
issues.head()

,number,title,labels,state
0,36850,DOC: `.loc` behavior undocumented for Index ar...,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
1,36849,DOC: black enhancingperf.rst and 10min.rst cod...,[],open
2,36848,REF: IndexOpsMixin wrapping,[],open
3,36847,CI: pin sql to the correct version #36465,"[{'id': 48070600, 'node_id': 'MDU6TGFiZWw0ODA3...",open
4,36845,"DOC: normalize usage of word ""pandas""","[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open

In [147]:
import sqlite3

In [148]:
query = """
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20), c REAL, d INTEGER);"""

In [149]:
con = sqlite3.connect('mydata.sqlite')

In [150]:
con.execute(query)

In [151]:
con.commit()

In [153]:
data = [('Atlanta', 'Georgia', 1.25, 6), 
        ('Tallahassee', 'Florida', 2.6, 3), 
        ('Sacramento', 'California', 1.7, 5)]

In [154]:
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"

In [155]:
con.executemany(stmt, data)

In [156]:
con.commit()

In [157]:
cursor = con.execute('select * from test')

In [158]:
rows = cursor.fetchall()

In [159]:
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [160]:
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [161]:
pd.DataFrame(rows, columns=[x[0] for x in cursor.description])

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

In [162]:
import sqlalchemy as sqla

In [163]:
db = sqla.create_engine('sqlite:///mydata.sqlite')

In [164]:
pd.read_sql('select * from test', db)

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

In [165]:
import pandas as pd

sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj1 = pd.Series(sdata)
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj2 = pd.Series(sdata, index=states)
obj3 = pd.isnull(obj2)

In [166]:
obj1

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [167]:
obj2

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [168]:
obj3

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [169]:
obj2['California']== None

False

In [170]:
x=obj2['California']

In [171]:
obj2['California'] != x

True

In [172]:
import pandas as pd
d = {
    '1': 'Alice',
    '2': 'Bob',
    '3': 'Rita',
    '4': 'Molly',
    '5': 'Ryan'
}
S = pd.Series(d)

In [173]:
S.iloc[0:3]

1    Alice
2      Bob
3     Rita
dtype: object

In [175]:
S.loc[0:3]

TypeError: cannot do slice indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [0] of <class 'int'>

In [176]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [182]:
df= df.rename(mapper= lambda x : x.upper(), axis=1, inplace=True)

In [183]:
df

In [194]:
df[df['b']>5]

     a     b     c     d message
0  NaN   NaN   NaN   NaN     NaN
1  NaN   NaN   NaN   NaN     NaN
2  9.0  10.0  11.0  12.0     foo

In [195]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [197]:
df.drop('a', axis=1)

    b   c   d message
0   2   3   4   hello
1   6   7   8   world
2  10  11  12     foo

In [198]:
import pandas as pd
s1 = pd.Series({1: 'Alice', 2: 'Jack', 3: 'Molly'})
s2 = pd.Series({'Alice': 1, 'Jack': 2, 'Molly': 3})

In [199]:
s2.iloc[2]

3

In [200]:
s1.loc[1]

'Alice'

In [201]:
s2[1]

2

In [202]:
s2.loc[1]

TypeError: cannot do label indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [1] of <class 'int'>

In [203]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [207]:
df.T[0]

a              1
b              2
c              3
d              4
message    hello
Name: 0, dtype: object

In [208]:
s1

1    Alice
2     Jack
3    Molly
dtype: object

In [209]:
s2

Alice    1
Jack     2
Molly    3
dtype: int64

In [212]:
s = s1.append(s2)

In [211]:
s1

1    Alice
2     Jack
3    Molly
dtype: object

In [213]:
s

1        Alice
2         Jack
3        Molly
Alice        1
Jack         2
Molly        3
dtype: object